
<mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="E-Mail" type="email" id="email" name="email" ngModel required email>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password"  type="password" name="password" id="password" ngModel required>
              </mat-form-field></td>
            </tr></table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="onSubmit(authForm)" [disabled]="!authForm.valid" color="primary">Login</button>
          <button mat-raised-button (click)="loginCas()"  color="primary">Login Cas</button>
        </mat-card-actions>
      </mat-card>
